.header-font {

    font-family: 'Shrikhand', cursive;

}

.styled-font {
    font-family: "Roboto", sans-serif;
}

.salmon {

    background-color: salmon;

}

.container {

    margin: 10px;

    padding-top: 10px;

}